/* ELEMENT SELECTOR */

/* CLASS SELECTOR */

.about-text {
  margin: 20px;
  height: 500px;
  width: 300px;
  padding: 20px;
}

.about-text h3 {
  margin-bottom: 10px;
}

.body-container {
  display: flex;
  width: 650px;
  margin: 0 auto;
  height: 440px;
  justify-content: center;
  box-sizing: border-box;
}

.body-container h3 {
  text-align: center;
}

.picture {
  margin: 20px;
  height: 400px;
  width: 300px;
}

.picture div {
  background-size: 350px auto;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}

.picture2,
.picture3 {
  margin-top: -400px;
}

/* ID SELECTOR */

/* RESPONSIVE DESIGN */

@media only screen and (max-width: 1200px) {
  /* MEDIUM SCREENS */

  .body-container {
    flex-direction: row;
  }
}

@media only screen and (max-width: 650px) {
  /* SMALLER SCREENS */

  body {
    height: auto;
  }

  .body-container {
    flex-direction: column;
    width: 340px;
    height: auto;
    margin-bottom: 150px;
  }
}
@media only screen and (max-width: 525px) {
  /* CELL PHONES */
}
