/* SETUP */

:root {
  --color1: #2d3142;
  --color2: #b0d7ff;
  --color3: #eae8ff;
  --color4: #adacb5;
  --color5: #d8d5db;
  font-size: 50px;
}

/* ELEMENT SELECTOR */

/* CLASS SELECTOR */

.about-text {
  font-size: 0.5rem;
}

.body-container {
  background-color: var(--color4);
  opacity: 0.8;
}

.picture div {
  background-size: 350px auto;
  background-repeat: no-repeat;
}

/* ID SELECTOR */

/* RESPONSIVE DESIGN */

@media only screen and (max-width: 830px) {
  /* SMALLER SCREENS */
}

/* RESPONSIVE DESIGN */
@media only screen and (max-width: 650px) {
  /* SMALLER SCREENS */
}

@media only screen and (max-width: 525px) {
  /* CELL PHONES */
}