.container {
    display: grid;
    margin: 2rem auto;
    width: 1000px;
    grid-template-columns: 500px 500px;
    grid-template-rows: 100px 200px 200px;
    grid-gap: 15px 20px;
}

.block1, .block3, .block5, .block7 {
    background-color: aqua;
}

.block2, .block4, .block6, .block8 {
    background-color: red;
}