/* SETUP */
@import url("https://fonts.googleapis.com/css2?family=Bigelow+Rules&display=swap");

:root {
  --color1: #2d3142;
  --color2: #b0d7ff;
  --color3: #eae8ff;
  --color4: #adacb5;
  --color5: #d8d5db;
  --specialFont: "Bigelow Rules", cursive;
  font-size: 50px;
}

/* ELEMENT SELECTOR */

body {
  background-color: var(--color1);
}

nav .current-link {
  text-decoration: underline;
  cursor: default;
}

nav .current-link:hover {
  text-shadow: 0 0 0;
  font-size: 1rem;
  font-weight: normal;
  color: var(--color1);
}

/* CLASS SELECTOR */

.about-text {
  font-size: 0.5rem;
  text-align: justify;
  text-justify: inter-word;
}

.body-container {
  background-color: var(--color4);
}

.body-content {
  background-color: var(--color1);
}

.footer-bar {
  background-color: var(--color4);
  font-size: 0.5rem;
}

.container div {
  border-top: var(--color3) 1px solid;
  opacity: 0.2;
  box-shadow: 0 0 100px var(--color3);
}

.letter {
  color: var(--color3);
  text-decoration: underline;
  text-shadow: 0 0 30px var(--color2);
  font-size: 50pt;
  height: 100px;
  width: 30px;
}

.letter:first-child {
  margin-left: 50px;
}

.letter:last-child {
  margin-right: 50px;
}

.letter:nth-child(5) {
  text-decoration: none;
}

.nav-bar {
  background-color: var(--color4);
}

.nav-link {
  font-size: 1rem;
  text-decoration: none;
  color: var(--color1);
}

.nav-link:hover {
  text-shadow: 0 0 30px var(--color1);
  font-size: 1.1rem;
  font-weight: bolder;
  color: var(--color2);
}

.picture {
  background-image: url("/images/self.jpg");
  background-size: 350px auto;
  background-repeat: no-repeat;
}

.special-font {
  font-family: var(--specialFont);
}

.top-background {
  background-color: var(--color1);
}

/* ID SELECTOR */

#my-name {
  background-color: var(--color1);
}

#my-name:hover {
  cursor: default;
}

#nav-pic {
  background-image: url("/images/self.jpg");
  background-size: 100px auto;
  background-position-y: -15px;
  border: var(--color1) 2px solid;
  border-radius: 50%;
  opacity: 0.85;
  box-shadow: 0 0 40px var(--color1), 5px 5px 15px 0 var(--color1) inset, -5px -5px 15px 0 var(--color1) inset; 
}

#nav-pic:hover {
  background-position-y: -25px;
  opacity: 0.9;
}

/* RESPONSIVE DESIGN */

@media only screen and (max-width: 830px) {
  /* SMALLER SCREENS */

}

/* RESPONSIVE DESIGN */
@media only screen and (max-width: 650px) {
  /* SMALLER SCREENS */

}

@media only screen and (max-width: 525px) {
  /* CELL PHONES */
  .nav-link {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 0.5rem;
  }

  .nav-link:hover,
  nav .current-link:hover {
    font-size: 0.5rem;
    font-weight: normal;
  }
}
