@import url("https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap");

:root {
  --color1: #ffc6d9;
  --color2: #51d6ff;
  --color3: #fff07c;
  --color4: #80ff72;
  --color5: #545454;
  --color6: #191919;
  --color7: #f0f8ff;
  --font1: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
  "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  --font2: "Julius Sans One", "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.about-text, .about-text2 {
  border: 5px solid var(--color7);
  height: auto;
  padding: 50px 25px;
  border-radius: 30px;
  position: fixed;
  transition: all 1s ease, left 2s ease;
  top: 50%;
  transform: translateY(-50%);
}

.about-text {
  width: 250px;
  background-color: var(--color4);
  z-index: 5;
}

.about-text2 {
  width: 250px;
  background-color: var(--color1);
  z-index: 4;
}

.about-text:hover {
  border-color: var(--color1);
}

.about-text2:hover {
  border-color: var(--color3);
}

.about-title, .about-title2 {
  position: absolute;
  top: -35px;
  left: 50%;
  width: 200px;
  transform: translateX(-50%);
  text-align: center;
  z-index: 1;
  font-size: 20pt;
  line-height: 25pt;
  padding: 10px;
  border-radius: 15px;
  font-family: var(--font2);
  transition: all 0.5s ease;
  border: 5px solid var(--color7);
}

.about-title {
  background-color: var(--color4);
}

.about-title2 {
  background-color: var(--color1);
}

.about-text p, .about-text2 p {
  font-size: 13pt;
  font-family: var(--font1);
  cursor: default;
}

.about-text .about-img {
  background-image: url(/images/self.jpg);
  background-size: 200px auto;
  background-position-y: -40px;
  border: 5px solid var(--color7);
  width: 200px;
  height: 200px;
  border-radius: 50%;
  position: absolute;
  bottom: 0;
  right: 0;
  transform: translateX(50%) translateY(50%);
  transition: all 1s ease, background-image 3s ease;
}

.about-text .about-img:hover {
  background-size: 300px auto;
  width: 300px;
  height: 300px;
  border-color: var(--color1);
}

.about-text .about-title:hover, .about-text2 .about-title2:hover {
  font-weight: bolder;
  cursor: default;
}

.about-text .about-title:hover {
  border-color: var(--color1);
}

.about-text2 .about-title2:hover {
  border-color: var(--color3);
}