@import url('https://fonts.googleapis.com/css2?family=Love+Ya+Like+A+Sister&display=swap');

.card-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: auto;
    z-index: 2000;
    font-family: 'Love Ya Like A Sister', cursive;
}

canvas {
    z-index: 1980;
}

.butterflies {
    width: auto;
    height: 80%;
    opacity: 0.9;
    pointer-events: none;
}

.butterflies:first-of-type {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1990;
}

.butterflies:last-of-type {
    right: 0;
    bottom: 0;
    position: fixed;
    z-index: 1990;
}

.title-container {
    margin-left: 400px;
    margin-top: 50px;
    font-size: 80pt;
    position: relative;
    z-index: 1995;
    color: #b0d7ff;
}

hr {
    width: 650px;
    border: 1px solid #b0d7ff;
}

.comments {
    position: absolute;
    padding: 20px;
    margin-top: 50px;
    border: 2px solid black;
    border-radius: 20px;
    left: 20%;
    height: auto;
    background-color: rgba(225, 85, 225, 0.7);
    display: flex;
    flex-direction: column;
    max-width: 800px;
}

.person {
    border: 2px dashed black;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 50px;
    background-color: blanchedalmond;
}

.person:hover {
    background-color: #eae8ff;
    cursor: default;
    z-index: 2000;
}

.comments .name {
    font-size: 20pt;
    display: block;
}

.comments .name::before {
    content: 'From: ';
}

.comments .name::after {
    content: ' -- ';
}

.comments .comment {
    font-size: 15pt;
    padding: 15px;
    display: block;
}

.comments .comment::before {
    content: '"';
}

.comments .comment::after {
    content: '"';
}