/* SETUP */
:root {
    --color1: #2d3142;
    --color2: #b0d7ff;
    --color3: #eae8ff;
    --color4: #adacb5;
    --color5: #d8d5db;
}

/* ELEMENT SELECTOR */



/* CLASS SELECTOR */

.body-box {
    background-color: var(--color1);
    border-radius: 50px;
    opacity: 0.8;
}

.body-content {
    font-size: 25pt;
    color: var(--color5)
}

.body-content div span a {
    text-decoration: none;
    color: var(--color2);
}

.body-content div span a:hover {
    color: var(--color3);
    text-shadow: 0 0 2px var(--color3);
}