/* ELEMENT SELECTOR */

/* CLASS SELECTOR */

.body-box {
    display: block;
    padding: 25px;
    height: auto;
    box-sizing: content-box;
}

.body-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.body-content div div {
    height: 100px;
    margin: auto;
}

.body-content div span {
    margin-left: 20px;
}

.body-content div img {
    height: 50px;
    width: auto;
}

.logo {
    display: inline-flex;
}