* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

button {
    padding: 5px 15px;
    background-color: hotpink;
    margin: 10px 5px;
    cursor: pointer;
}

.home-button {
    position: relative;
    left: 50px;
    top: 25px;
    margin-bottom: 25px;
}

main {
    margin-left: 50px;
    margin-top: 10px;
}

img {
    cursor: pointer;
}