/* SETUP */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ELEMENT SELECTOR */

/* CLASS SELECTOR */

.baby-duck {
  height: 80px;
  width: auto;
  position: relative;
  left: 50px;
  top: -10px;
}

.body-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.body-content div {
  padding: 0 auto;
}

.click-text {
  margin-left: -30px;
}

.duck-text {
  margin-top: -30px;
  margin-left: 20px;
}

.intro {
  text-align: center;
  margin: 30px 0;
}

/* ID SELECTOR */

/* RESPONSIVE DESIGN */

@media only screen and (max-width: 1100px) {
  .body-content {
    flex-direction: column;
    justify-self: center;
  }
}
