/* SETUP */
@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Dancing+Script&family=Bigelow+Rules&display=swap');

:root {
  --color1: #2d3142;
  --color2: #b0d7ff;
  --color3: #eae8ff;
  --color4: #adacb5;
  --color5: #d8d5db;
  --specialFont: "Bigelow Rules", cursive;
  --fancyCursiveFont: "Dancing Script", cursive;
  --handwritingFont: "Architects Daughter", monospace;
  font-size: 50px;
}

/* ELEMENT SELECTOR */

/* CLASS SELECTOR */

.container div {
  border-top: var(--color3) 1px solid;
  opacity: 0.2;
  box-shadow: 0 0 100px var(--color3);
}

.intro {
  font-size: 0.5rem;
  font-family: monospace;
  color: var(--color5);
  text-align: center;
}

.intro::after {
  content: "{ :Full Stack Web Developer: }";
}

/* ID SELECTOR */


/* RESPONSIVE DESIGN */

@media only screen and (max-width: 830px) {

  .intro::after {
    content: "Full Stack Web Development";
  }
}

/* RESPONSIVE DESIGN */
@media only screen and (max-width: 650px) {
  /* SMALLER SCREENS */

  .intro {
    font-size: 0.3rem;
  }
}

@media only screen and (max-width: 525px) {
  /* CELL PHONES */

  .intro {
    font-size: 0.5rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: var(--color5);
  }
}
