:root {
  --color1: #2d3142;
  --color2: #b0d7ff;
  --color3: #eae8ff;
  --color4: #adacb5;
  --color5: #d8d5db;
  --handwritingFont: "Architects Daughter", monospace;
  font-size: 50px;
}

* {
  font-family: var(--handwritingFont);
}

header {
  position: fixed;
  top: 0;
  width: 100%;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}

.body-content {
  position: relative;
  margin-left: 100px;
  padding: 15px;
  height: auto;
  display: flex;
  flex-direction: row;
}

.body-container {
  width: 600px;
  margin-left: 100px;
  background-color: var(--color5);
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  position: relative;
  height: auto;
}

.side-container {
  background-color: var(--color5);
  height: 450px;
  width: 450px;
  position: relative;
  margin-left: 100px;
  border-radius: 15px;
}

.title {
  position: relative;
  width: 100%;
  text-align: center;
  color: var(--color1);
  font-size: 30pt;
}

img {
  display: none;
  height: 400px;
  width: 400px;
  position: absolute;
  right: -525px;
  top: 25px;
  z-index: 100;
  border-radius: 15px;
}

.project-list {
  display: flex;
  flex-direction: column;
  width: 90%;
  height: auto;
  padding: 0 50px;
}

.project-list ul {
  list-style: none;
}

.project:hover img {
  display: block;
}

.project a {
  font-size: 20pt;
  color: var(--color1);
}
