/* SETUP FOR ALL PAGES */
@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@300&display=swap");

:root {
  --color1: #2d3142;
  --color2: #b0d7ff;
  --color3: #eae8ff;
  --color4: #adacb5;
  --color5: #d8d5db;
  --newFont: "Dosis", sans-serif;
  font-size: 50px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--color1);
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  font-family: var(--newFont);
}

.body-content {
  margin-top: 70px;
  padding-top: 20px;
  width: 100%;
  flex: 1;
}

.nav-font {
  font-family: var(--newFont);
}

.special-font {
  font-family: var(--newFont);
}

/* FOOTER */

.footer-bar {
  background-color: var(--color4);
  font-size: 0.5rem;
  height: 100px;
  width: 100%;
  opacity: 0.8;
  margin-bottom: 0;
}

.footer-bar span {
  padding: 30px;
}

.footer-content {
  display: flex;
  justify-content: center;
  flex-direction: row;
  font-size: 25pt;
}

.skills {
  list-style-type: none;
}

.skills li figure img {
  -webkit-box-reflect: below 2px -webkit-gradient(linear, right top, right
        bottom, from(transparent), to(rgba(255, 255, 255, 0.4)));
}

/* MY NAME AT TOP */

.letter {
  width: 30px;
  color: var(--color3);
  text-decoration: underline;
  text-shadow: 0 0 30px var(--color2);
  font-size: 40pt;
  height: 100px;
  width: 30px;
}

.letter:first-child {
  margin-left: 50px;
}

.letter:last-child {
  margin-right: 50px;
}

.letter:nth-child(5) {
  text-decoration: none;
  margin-right: 15px;
}

#my-name {
  display: flex;
  flex-direction: row;
  position: absolute;
  justify-content: center;
  width: 100%;
  z-index: 100;
}

#my-name:hover {
  cursor: default;
}

.tagline {
  font-size: 20pt;
  font-family: var(--newFont);
  margin-top: 70px;
  color: var(--color3);
}

.tagline-container {
  display: flex;
  justify-content: center;
}

/* NAV BAR */

/* ELEMENT SELECTOR */

nav .current-link {
  text-decoration: underline;
  cursor: default;
}

nav .current-link:hover {
  text-shadow: none;
  font-size: 0.7rem;
  font-weight: normal;
  color: var(--color3);
  pointer-events: none;
}

/* CLASS SELECTOR */

.nav-bar {
  margin-top: 0;
  position: absolute;
  height: 70px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
}

.nav-link {
  margin: 5px 5px;
  font-size: 0.7rem;
  text-decoration: none;
  color: var(--color3);
}

.nav-link:hover {
  text-shadow: 0 0 30px var(--color5);
  font-size: 0.8rem;
  font-weight: bolder;
  color: var(--color2);
}

.skills {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.skills li figure img {
  height: 50px;
  width: auto;
  margin: 20px 20px 0 20px;
}

/* ID SELECTOR */

#jslogo {
  height: 40px;
  margin-top: 27px;
  padding-bottom: 8px;
}

/* RESPONSIVE DESIGN */

@media only screen and (min-width: 1400px) {
  body {
    background-image: url("/images/bg-mountain.jpg");
    background-size: 100%;
    background-position-y: -100px;
  }
}

@media only screen and (min-width: 1000px) {
  body {
    background-image: url("/images/bg-mountain.jpg");
    background-size: 1400px;
    background-position-y: -100px;
    background-attachment: fixed;
  }
}

@media only screen and (max-width: 750px) {
  .skills li figure img,
  #jslogo {
    height: 30px;
    margin: 10px;
    margin-top: 25px;
  }
}

@media only screen and (max-width: 650px) {
  /* SMALLER SCREENS */

  #nav-pic {
    display: none;
  }

  .skills li figure img,
  #jslogo {
    height: 30px;
    margin: 10px;
  }

  .footer-content {
    font-size: 12pt;
  }

  .footer-content span {
    margin-top: -10px;
  }

  .footer-bar {
    height: 50px;
  }
}

@media only screen and (max-width: 525px) {
  /* CELL PHONES */
  .nav-link {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 0.5rem;
    width: 100%;
    text-align: center;
  }

  .nav-link:hover,
  nav .current-link:hover {
    font-size: 0.5rem;
    font-weight: normal;
  }

  .body-content {
    margin-top: 300px;
  }

  .nav-bar {
    height: auto;
    flex-direction: column;
  }
}
