@import url("https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap");

:root {
  --color1: #ffc6d9;
  --color2: #51d6ff;
  --color3: #fff07c;
  --color4: #80ff72;
  --color5: #545454;
  --color6: #191919;
  --color7: #f0f8ff;
  --font1: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  --font2: "Julius Sans One", "Lucida Sans", "Lucida Sans Regular",
    "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--color2);
}

.my-name {
  position: fixed;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  text-align: center;
  width: 100px;
  font-size: 30pt;
  font-family: var(--font2);
  font-weight: bolder;
  color: var(--color3);
  pointer-events: none;
  text-shadow: -7px 0 var(--color5), -4px 0 var(--color5);
}

.my-name-mobile {
  display: none;
  width: 100%;
  left: 0;
  text-align: center;
  font-size: 25pt;
  text-shadow: -4px 0 var(--color5), -2px 0 var(--color5);
}

main {
  position: relative;
  height: 100%;
}

main .outer {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-100%);
  background-color: var(--color7);
  border: 5px solid var(--color7);
  width: 250px;
  height: 250px;
  border-radius: 50%;
  margin: 50px auto;
  transition: all 1s ease, border-color 0.3s linear;
  box-sizing: content-box
}

main .inner {
  background-color: var(--color7);
  border: 5px solid var(--color4);
  border-radius: 50%;
  width: 250px;
  height: 250px;
  position: absolute;
  font-family: var(--font2);
  font-size: 35pt;
  cursor: default;
  transition: all 1s ease;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
}

main .inner span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 100%;
  height: 100%;
  padding-top: 25px;
  text-align: center;
}

main .outer:hover {
  border-color: var(--color3);
  border-width: 10px;
}

main .outer:hover .inner {
  border-width: 10px;
}

main .inner span {
  margin-top: 26px;
}

.bubble-outer {
  position: fixed;
  background-color: var(--color7);
  border: 5px solid var(--color7);
  border-radius: 50%;
  transition: all 1s linear, border-color 0.3s linear;
  box-sizing: content-box
}

.bubble-inner {
  background-color: var(--color7);
  border: 5px solid var(--color4);
  border-radius: 50%;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  padding: 20px;
  position: absolute;
  font-family: var(--font2);
  font-size: 13pt;
  cursor: pointer;
}

.bubble-outer:hover {
  border-color: var(--color1);
  border-width: 7px;
}

.bubble-outer:hover .bubble-inner {
  border-width: 7px;
}

.bubble-outer:hover span {
  font-weight: bolder;
}

.bubble-inner span {
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.ray {
  width: 3000px;
  height: 50px;
  background: linear-gradient(to right, #fff07ce3 0%, #fff07c9a 100%);
  position: fixed;
  top: -200px;
  left: -200px;
  transform: rotate(25deg);
  transform-origin: 0 0;
  border-radius: 50%;
  box-shadow: 0 0 40px var(--color3), 0 0 50px var(--color3),
    0 0 60px var(--color3);
  pointer-events: none;
  z-index: 1000;
  opacity: 0;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 15px;
  font-family: var(--font1);
  font-size: 15pt;
  z-index: 2000;
}

.blue-mobile-header {
  background-color: var(--color2);
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 500;
  display: none;
}

img.hide {
  display: block;
}