.pic-container {
    width: 390px;
    height: 390px;
    margin-left: 50px;
    border-radius: 70px;
    display: grid;
    grid-template-columns: 130px 130px 130px;
    grid-template-rows: 130px 130px 130px;
    box-sizing: content-box;
    overflow: hidden;
  }
  
  .pic-underlay {
      width: 390px;
      height: 390px;
      margin-left: 50px;
      margin-top: -390px;
      border-radius: 70px;
      background-image: url("/images/self.jpg");
      filter: grayscale(80%);
      background-size: 500px auto;
      background-position: -40px -130px;
      position: absolute;
      opacity: 0.8;
      z-index: -1;
  }
  
  .pic-bubble {
    border-radius: 50%;
    opacity: 0;
    box-shadow: 0 0 40px grey, 5px 5px 15px 0 grey inset,
      -5px -5px 15px 0 grey inset;
    cursor: pointer;
    background-image: url("/images/self.jpg");
    filter: grayscale(100%);
    background-size: 500px auto;
  }

  .pic-bubble:active {
    background-image: url("/images/littleduck.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: 0 !important;
    filter: grayscale(0);
    opacity: 0.9;
  }
  
  .pic1:hover,
  .pic2:hover,
  .pic3:hover,
  .pic4:hover,
  .pic5:hover,
  .pic6:hover,
  .pic7:hover,
  .pic8:hover,
  .pic9:hover {
    filter: grayscale(0);
    opacity: 0.9;
  }

  .pic1:active,
  .pic2:active,
  .pic3:active,
  .pic4:active,
  .pic5:active,
  .pic6:active,
  .pic7:active,
  .pic8:active,
  .pic9:active {
    background-image: url("/images/littleduck.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    filter: grayscale(0);
    opacity: 0.9;
  }


  
  .pic1:active {
    animation: grow1 ease 0.5s forwards;
  }
  .pic2:active {
    animation: grow2 ease 0.5s forwards;
  }
  .pic3:active {
    animation: grow3 ease 0.5s forwards;
  }
  .pic4:active {
    animation: grow4 ease 0.5s forwards;
  }
  .pic5:active {
    animation: grow5 ease 0.5s forwards;
  }
  .pic6:active {
    animation: grow6 ease 0.5s forwards;
  }
  .pic7:active {
    animation: grow7 ease 0.5s forwards;
  }
  .pic8:active {
    animation: grow8 ease 0.5s forwards;
  }
  .pic9:active {
    animation: grow9 ease 0.5s forwards;
  }

  .pic1 {
    background-position: -40px -130px;
  }
  
  .pic2 {
    background-position: -170px -130px;
  }
  
  .pic3 {
    background-position: -300px -130px;
  }
  
  .pic4 {
    background-position: -40px -260px;
  }
  
  .pic5 {
    background-position: -170px -260px;
  }
  
  .pic6 {
    background-position: -300px -260px;
  }
  
  .pic7 {
    background-position: -40px -390px;
  }
  
  .pic8 {
    background-position: -170px -390px;
  }
  
  .pic9 {
    background-position: -300px -390px;
  }
  
  @keyframes grow1 {
    from {
      height: 130px;
      width: 130px;
      border-radius: 50%;
    }
    to {
      height: 390px;
      width: 390px;
      border-radius: 70px;
    }
  }
  
  @keyframes grow2 {
    from {
      margin-left: 0;
      height: 130px;
      width: 130px;
      border-radius: 50%;
      background-position: -40px -130px;
    }
    to {
      margin-left: -130px;
      height: 390px;
      width: 390px;
      border-radius: 70px;
      background-position: -40px -130px;
    }
  }
  
  @keyframes grow3 {
    from {
      margin-left: 0;
      height: 130px;
      width: 130px;
      border-radius: 50%;
      background-position: -300px -130px;
    }
    to {
      margin-left: -260px;
      height: 390px;
      width: 390px;
      border-radius: 70px;
      background-position: -40px -130px;
    }
  }
  
  @keyframes grow4 {
    from {
      margin-top: 0;
      height: 130px;
      width: 130px;
      border-radius: 50%;
      background-position: -40px -260px;
    }
    to {
      margin-top: -130px;
      height: 390px;
      width: 390px;
      border-radius: 70px;
      background-position: -40px -130px;
    }
  }
  
  @keyframes grow5 {
    from {
      margin-top: 0;
      margin-left: 0;
      height: 130px;
      width: 130px;
      border-radius: 50%;
      background-position: -170px -260px;
    }
    to {
      margin-top: -130px;
      margin-left: -130px;
      height: 390px;
      width: 390px;
      border-radius: 70px;
      background-position: -40px -130px;
    }
  }
  
  @keyframes grow6 {
    from {
      margin-top: 0;
      margin-left: 0;
      height: 130px;
      width: 130px;
      border-radius: 50%;
      background-position: -300px -260px;
    }
    to {
      margin-top: -130px;
      margin-left: -260px;
      height: 390px;
      width: 390px;
      border-radius: 70px;
      background-position: -40px -130px;
    }
  }
  
  @keyframes grow7 {
    from {
      margin-top: 0;
      height: 130px;
      width: 130px;
      border-radius: 50%;
      background-position: -40px -390px;
    }
    to {
      margin-top: -260px;
      height: 390px;
      width: 390px;
      border-radius: 70px;
      background-position: -40px -130px;
    }
  }
  
  @keyframes grow8 {
    from {
      margin-top: 0;
      margin-left: 0;
      height: 130px;
      width: 130px;
      border-radius: 50%;
      background-position: -170px -390px;
    }
    to {
      margin-top: -260px;
      margin-left: -130px;
      height: 390px;
      width: 390px;
      border-radius: 70px;
      background-position: -40px -130px;
    }
  }
  
  @keyframes grow9 {
    from {
      margin-top: 0;
      margin-left: 0;
      height: 130px;
      width: 130px;
      border-radius: 50%;
      background-position: -300px -390px;
    }
    to {
      margin-top: -260px;
      margin-left: -260px;
      height: 390px;
      width: 390px;
      border-radius: 70px;
      background-position: -40px -130px;
    }
  }