/* ABOUT ME PICTURES */

.picture1 {
    background-image: url("/images/self.jpg");
    animation: changeImage1 12s ease infinite;
  }
  
  .picture2 {
    background-image: url("/images/self2.jpg");
    animation: changeImage2 12s ease infinite;
  }
  
  .picture3 {
    background-image: url("/images/self3.jpg");
    animation: changeImage3 12s ease infinite;
  }
  
  .picture4 {
    background-image: url("/images/self4.jpg");
    animation: changeImage4 12s ease infinite;
  }
  
  /* HOBBIES PICTURES */

.picture5 {
    background-image: url("/images/paint1.jpg");
    animation: changeImage1 12s ease infinite;
  }
  
  .picture6 {
    background-image: url("/images/paint2.jpg");
    animation: changeImage2 12s ease infinite;
  }
  
  .picture7 {
    background-image: url("/images/bird2.jpg");
    animation: changeImage3 12s ease infinite;
  }
  
  .picture8 {
    background-image: url("/images/food1.jpg");
    animation: changeImage4 12s ease infinite;
  }
  
  /* SKILLS PICTURES */

.picture9 {
    background-image: url("/images/javacode.png");
    animation: changeImage1 12s ease infinite;
  }
  
  .picture10 {
    background-image: url("/images/htmlcode.jpg");
    animation: changeImage2 12s ease infinite;
  }
  
  .picture11 {
    background-image: url("/images/jscode.jpg");
    animation: changeImage3 12s ease infinite;
  }
  
  .picture12 {
    background-image: url("/images/csscode.jpg");
    animation: changeImage4 12s ease infinite;
  }

@keyframes changeImage1 {
    0%,
    20%,
    100% {
      opacity: 1;
      display: inherit;
    }
    25%,
    95% {
      opacity: 0;
      display: none;
    }
  }
  
  @keyframes changeImage2 {
    0%,
    20%,
    50%,
    100% {
      opacity: 0;
      display: none;
    }
    25%,
    45% {
      opacity: 1;
      display: inherit;
    }
  }
  
  @keyframes changeImage3 {
    0%,
    45%,
    75%,
    100% {
      opacity: 0;
      display: none;
    }
    50%,
    70% {
      opacity: 1;
      display: inherit;
    }
  }
  
  @keyframes changeImage4 {
    0%,
    70%,
    100% {
      opacity: 0;
      display: none;
    }
    75%,
    95% {
      opacity: 1;
      display: inherit;
    }
  }