/* ELEMENT SELECTOR */

ul li span {
  padding: 10px;
}

ul li:hover span {
  display: block;
}

ul li:hover img {
  display: block;
}

ul li span {
  display: none;
}

/* CLASS SELECTOR */

.body-content {
  display: flex;
  justify-content: center;
}

.img1 {
  right: -325px;
  top: -160px;
}

.img2 {
  right: -325px;
  top: -203px;
}

.img3 {
  right: -325px;
  top: -263px;
}

.input {
  position: absolute;
}

.input:focus + .label {
  z-index: 1;
}

.input:checked + .label + .panel {
  display: block;
}

.label {
  width: 200px;
  padding: 20px 30px;
}

.panel {
  display: none;
  width: 100%;
  height: 350px;
  padding: 20px;
  order: 99;
}

.panel-content {
  display: flex;
  flex-direction: row;
  justify-content: left;
}

.projects {
  padding: 20px;
  width: 65%;
  margin-left: -15px;
}

.projects img {
  display: none;
  height: 180px;
  width: 220px;
  position: relative;
  margin-bottom: -180px;
}

.tabs {
  display: flex;
  flex-wrap: wrap;
  max-width: 600px;
  height: 65px;
}

/* ID SELECTOR */

@media (min-width: 600px) {
  .label:first-of-type::after {
    content: "/TDD";
  }

  .label:last-of-type::after {
    content: "/CSS";
  }
}

@media (max-width: 650px) {
  .tabs {
    max-width: 450px;
  }

  .label {
    width: 150px;
    font-size: 12pt;
    padding: 10px 10px;
  }
}

@media (max-width: 400px) {
  .tabs {
    max-width: 90%;
    margin-left: 5%;
  }

  .label {
    width: 30%;
    padding: 10px 10px;
  }
}
