/* SETUP FOR ALL PAGES */

:root {
  --color1: #2d3142;
  --color2: #b0d7ff;
  --color3: #eae8ff;
  --color4: #adacb5;
  --color5: #d8d5db;
}

/* ELEMENT SELECTOR */

p {
  color: var(--color1);
  font-size: 20pt;
}

ul {
  list-style-type: none;
}

ul li a {
    text-decoration: none;
    color: var(--color1);
}

ul li span {
  padding: 10px;
  font-weight: normal;
  font-size: 12pt;
}

/* CLASS SELECTOR */

.input {
  opacity: 0;
}

.label {
  background: var(--color3);
  cursor: pointer;
  font-weight: bold;
  font-size: 20pt;
  color: var(--color1);
  transition: background 1s, color 1s;
  text-align: center;
  border: var(--color1) 1px solid;
}

.input:checked + .label {
  background: var(--color5);
  color: var(--color1);
  border-bottom: none;
}

.label:first-of-type {
  border-radius: 30px 0 0 0;
}

.label:hover {
    background: var(--color2);
  }

.label:last-of-type {
  border-radius: 0 30px 0 0;
}

.panel {
  background: var(--color5);
  border-radius: 0 0 30px 30px;
  border-left: var(--color1) 1px solid;
  border-bottom: var(--color1) 1px solid;
  border-right: var(--color1) 1px solid;
}

.projects ul li {
  font-weight: bold;
  font-size: 15pt;
  background-color: var(--color3);
  cursor: pointer;
  padding: 10px;
  border: var(--color1) 1px solid;
}

.tabs {
  background: var(--color5);
  border-radius: 30px 30px 0 0;
}

