@import url("https://fonts.googleapis.com/css2?family=Alex+Brush&display=swap");

:root {
  --color1: ;
  --font1: "Alex Brush", cursive;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url(./background.jpg);
  background-size: cover;
}

.dove {
  position: fixed;
  left: 280px;
  top: 75px;
  width: 160px;
  height: auto;
}

aside {
  width: 300px;
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  left: 20px;
  font-size: 15pt;
  color: white;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-shadow: 1px 0 2px rgba(255, 247, 136, 0.8),
    -2px 0 2px rgba(91, 90, 87, 0.611);
}

.top-title {
  position: fixed;
  text-align: center;
  width: 100%;
  color: rgb(255, 247, 136);
  font-size: 130pt;
  font-family: var(--font1);
}

.bottom-text {
  position: fixed;
  text-align: center;
  width: 100%;
  bottom: 20px;
  font-family: var(--font1);
  font-size: 30pt;
}

.quote {
  opacity: 0;
  transition: all 2s linear;
}

.quote1 {
  position: fixed;
  left: 450px;
  top: 30%;
  width: 40%;
  font-size: 20pt;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.quote1 span,
.quote4 span {
  position: relative;
  text-align: right;
  display: block;
}

.quote2 {
  position: fixed;
  left: 350px;
  top: 45%;
  width: 40%;
  font-size: 20pt;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.quote3 {
  position: fixed;
  left: 500px;
  top: 60%;
  width: 40%;
  font-size: 20pt;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.quote4 {
  position: fixed;
  left: 750px;
  top: 70%;
  width: 30%;
  font-size: 20pt;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
